/* body {
    background-color: white;
} */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    opacity: 0.8;
}

.cancelbtn {
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 8px;
    background-color: #f44336;
}

.cancelbtn:hover {
    opacity: 0.9;
}

.container {
    color: dimgray;
    background-color: dimgray;
    padding: 16px;
}

span.pass {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.pass {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}